@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sectionbox {
    background-color: #d8d8d8;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    color: black;
    padding: 10px;
    margin: 50px 50px 0 50px;
    width:50%;
}

.formsection h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.formsection hr {
  width: 30%;
  margin-bottom: 2px;
  border: 1px solid grey;
  margin-left: 50px;
}

.formbox {
  display: flex;
  flex-direction: column;
  margin-left: 10px
}

.forminputsec {
  flex:1;
  display: flex;
  flex-direction: column;
}

.forminputsec input {
  border: none;
  appearance: none;
  padding: 12px;
  background: #f2f2f2;
  border-radius: 3px;
  width: 75%
}

.optionsec {
  width: 30%;
  appearance: none;
}

.forminput {
  display: flex;
}

.formbox label {
  margin: 0 5px auto 0;
 
}

.formsection button {
  text-align: center;
  display: inline-block;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
  
}