.editbutton {
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(70, 221, 32);
  border: 1px solid rgb(70, 221, 32);
  border-radius: 4px;
  padding: 2px;
  transition-duration: 0.5s;
  width: 100%;
  height: auto;
}

.editbutton:hover {
  background-color: rgb(70, 221, 32);
  color: white;
  cursor: pointer;
}

.deletebutton {
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(221, 32, 32);
  border: 1px solid rgb(221, 32, 32);
  border-radius: 4px;
  padding: 2px;
  transition-duration: 0.5s;
  width: 100%;
  height: auto;
  margin-top: 2px;
}

.deletebutton:hover {
  background-color: rgb(221, 32, 32);
  color: white;
  cursor: pointer;
}

.submitbutton {
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(70, 221, 32);
  border: 1px solid rgb(70, 221, 32);
  border-radius: 4px;
  padding: 2px;
  transition-duration: 0.5s;
  width: 200px;
  height: auto;
}

.submitbutton:hover {
  background-color: rgb(70, 221, 32);
  color: white;
  cursor: pointer;
}

.backbutton {
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(221, 32, 32);
  border: 1px solid rgb(221, 32, 32);
  border-radius: 4px;
  padding: 2px;
  transition-duration: 0.5s;
  width: 200px;
  height: auto;
}

.backbutton:hover {
  background-color: rgb(221, 32, 32);
  color: white;
  cursor: pointer;
}

.editbox label {
  display: block;
}

.editbox h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: block;
}

.editbox em {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
