@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.overlay {
  background-color: #58585842;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
}

.flexbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modalbox {
  width: 600px;
  height: auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(110, 110, 110, 0.3),
    inset 0 -3px 3px rgba(146, 145, 145, 0.1);
}

.modalbox form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.forminput {
  margin-top: 5px;
}

.forminput input {
  border: none;
  appearance: none;
  padding: 12px;
  background: #f2f2f2;
  border-radius: 3px;
  margin-top: 5px;
  width: 75%;
}

.smallsec {
  width: 30%;
}

.nextButton {
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(70, 221, 32);
  border: 1px solid rgb(70, 221, 32);
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  transition-duration: 0.5s;
  width: 200px;
  height: auto;
}

.nextButton:hover {
  background-color: rgb(70, 221, 32);
  color: white;
  cursor: pointer;
}

.backButton {
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(221, 32, 32);
  border: 1px solid rgb(221, 32, 32);
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  transition-duration: 0.5s;
  width: 200px;
  height: auto;
}

.backButton:hover {
  background-color: rgb(221, 32, 32);
  color: white;
  cursor: pointer;
}
