.usersectionbox {
  background-color: white;
  box-shadow: 0 3px 6px rgba(110, 110, 110, 0.3),
    inset 0 -3px 3px rgba(146, 145, 145, 0.1);
  color: black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  max-width: 1700px;
}

.usersectionbox h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.usersectiontable {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-align: center;
}

td {
  text-align: left;
}

.tableheader {
  background-color: #cecece;
  font-size: 15px;
  text-transform: uppercase;
  text-align: left;
}

.tablerow {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.flexcol-5 {
  flex-basis: 5%;
}
.flexcol-15 {
  flex-basis: 15;
}
.flexcol-20 {
  flex-basis: 20%;
}

button {
  width: 100%;
  border: none;
  border-radius: 3px;
}

.editbutton {
  background-color: rgba(5, 207, 5, 0.795);
}

.deletebutton {
  background-color: rgb(221, 4, 4);
}
